header {
    height: 100vh;
    background-image: url(../img/cover_piste.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    max-height: 500px;
}

section#piste {
    background-color: whitesmoke;
}

.piste {
    width: 200px;
    display: inline-block;
    height: 365px;
    margin: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    transition: box-shadow 0.2s ease;
}

.piste:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.slika-pista {
    width: 94%;
    margin-top: 3%;
}

.podatki-piste {
    height: 26px;
    position: relative;
}

.podatki-piste h3 {
    text-align: center;
    width: 100%;
    position: absolute;
    font-weight: 100;    
}

h1 {
    text-align: center;
    width: 98%;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: 100;
}

table {
    position: absolute;
    top: 30px;
    width: 100%;
    left: 10px;
}

td, th {
    font-size: 90%;
    font-weight: 100;
    font-family: 'Cairo', sans-serif;
    line-height: 20px;
    text-align: left;
}

tr {
    
}

